# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
.output/

# Environment Variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# EAS & Mobile
.expo/
android/
ios/
FreelanceHub.apk
FreelanceHub.aab
